
nav ul{
    margin: 10px auto;
    padding: 0;
    display: flex;
    background-color: #191a1b;
    height: 50px;
    width: 660px;
    gap:1px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    border-radius: 15px;
    overflow: hidden;
    

}
.navItem{
    background-color: #414446;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: rgb(248, 246, 245);
    
    &:hover{
        background-color: rgb(154, 171, 185);
        color: black
    }
}


